<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/inicio.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/menu.css" rel="stylesheet">
    <link href="css/options.css" rel="stylesheet">
    <link href="css/ver.css" rel="stylesheet">
    <link href="css/desing.css" rel="stylesheet">
    <title>Edukatec | Cuentas</title>
</head>

<body>
    <header>
        <div class="menu-bar">
            <a href="#" class="btn-menu"><span class="icon-menu"></span></a>
        </div>
        <nav>
            <ul>
                <li><a href="/inicio-admins"><span class="icon-home3"></span>Inicio</a></li>               
                <li><a href="/admin"><span class="icon-user-plus"></span>Administrar cuentas...</a></li>
                <li><a href="#" onclick="logout()"><span class="icon-exit"></span>Cerrar sesion</a></li>
            </ul>
        </nav>
    </header>

    <div class="radio">
        <input label="Maestros" type="radio" checked id="create" name="create" onclick="ad_maestro()">
        <input label="Coordinadores" type="radio" id="create" name="create" onclick="ad_coord()">
        <input label="Padres" type="radio" id="create" name="create" onclick="ad_padre()">
        <input label="Administradores" type="radio" id="create" name="create" onclick="ad_ad()">
    </div>

    <div id="maestros">
        <% if (maestros.length==0) { %>
            No hay maestros
            <% } %>
                <table>
                    <tr>
                        <% for (i=0; i < maestros.length; i++) { %>
                            <% if (i % 3==0 && i !=0) { %>
                    <tr>
                    </tr>
                    <% } %>
                        <td>
                            <div class=" card-client">
                                <div class="user-picture">
                                    <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z">
                                        </path>
                                    </svg>
                                </div>
                                <p class="name-client">
                                    <%= maestros[i].name %> <%= maestros[i].lastname %>
                                        <span>Maestro
                                            <br>
                                            <br>
                                            <%= maestros[i].mail %>
                                        </span>
                                </p>
                                <div class="social-media">
                                    <a href="#"
                                        onclick="confirmar_maestro(<%= maestros[i].id %>, '<%= maestros[i].name %>')">Eliminar</a>
                                    <a href="#"
                                        onclick="editar_maestro(<%= maestros[i].id %>, '<%= maestros[i].name %>', '<%= maestros[i].lastname %>')">Editar</a>
                                </div>
                            </div>
                        </td>
                        <% } %>
                            </tr>
                </table>
    </div>

    <div id="coordinadores">
        <% if (coordinadores.length==0) { %>
            No hay coordinadores
            <% } %>
                <table>
                    <tr>
                        <% for (i=0; i < coordinadores.length; i++) { %>
                            <% if (i % 3==0 && i !=0) { %>
                    <tr>
                    </tr>
                    <% } %>
                        <td>
                            <div class=" card-client">
                                <div class="user-picture">
                                    <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z">
                                        </path>
                                    </svg>
                                </div>
                                <p class="name-client">
                                    <%= coordinadores[i].name %> <%= coordinadores[i].lastname %>
                                        <span>Coordinador
                                            <br>
                                            <br>
                                            <%= coordinadores[i].mail %>
                                        </span>
                                </p>
                                <div class="social-media">
                                    <a href="#"
                                        onclick="confirmar_coord(<%= coordinadores[i].id %>, '<%= coordinadores[i].name %>')">Eliminar</a>
                                    <a href="#"
                                        onclick="editar_coord(<%= coordinadores[i].id %>, '<%= coordinadores[i].name %>', '<%= coordinadores[i].lastname %>')">Editar</a>
                                </div>
                            </div>
                        </td>
                        <% } %>
                            </tr>
                </table>
    </div>

    <div id="padres">
        <% if (padres.length==0) { %>
            No hay padres
            <% } %>
                <table>
                    <tr>
                        <% for (i=0; i < padres.length; i++) { %>
                            <% if (i % 3==0 && i !=0) { %>
                    <tr>
                    </tr>
                    <% } %>
                        <td>
                            <div class=" card-client">
                                <div class="user-picture">
                                    <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z">
                                        </path>
                                    </svg>
                                </div>
                                <p class="name-client">
                                    <%= padres[i].name %>
                                        <span>Padre
                                        </span>
                                </p>
                                <div class="social-media">
                                    <a href="#"
                                        onclick="confirmar_padre(<%= padres[i].id %>, '<%= padres[i].name %>')">Eliminar</a>
                                    <a href="#"
                                        onclick="editar_padre(<%= padres[i].id %>, '<%= padres[i].name %>', '<%= padres[i].lastname %>')">Editar</a>
                                </div>
                            </div>
                        </td>
                        <% } %>
                            </tr>
                </table>
    </div>

    <div id="admins">
        <% if (admins.length==0) { %>
            No hay administradores
            <% } %>
                <table>
                    <tr>
                        <% for (i=0; i < admins.length; i++) { %>
                            <% if (i % 3==0 && i !=0) { %>
                    <tr>
                    </tr>
                    <% } %>
                        <td>
                            <div class=" card-client">
                                <div class="user-picture">
                                    <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z">
                                        </path>
                                    </svg>
                                </div>
                                <p class="name-client">
                                    <%= admins[i].name %> <%= admins[i].lastname %>
                                        <span>Administrador
                                        </span>
                                </p>
                                <div class="social-media">
                                    <% if (mail==admins[i].mail) { %>
                                        Eres tú
                                            <% } else { %>
                                                <a href="#"
                                                    onclick="confirmar_admin(<%= admins[i].id %>, '<%= admins[i].name %>')">Eliminar</a>
                                                <a href="#"
                                                    onclick="editar_admin(<%= admins[i].id %>, '<%= admins[i].name %>', '<%= admins[i].lastname %>')">Editar</a>

                                                <% } %>
                                </div>
                            </div>
                        </td>
                        <% } %>
                            </tr>
                </table>
    </div>


    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/menu.js"></script>
    <script src="js/add.js"></script>
    <script src="js/crud.js"></script>
</body>

</html>
